{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <div class="container vh-100">
        <div class="row" id="page_row">
            <div class="col">
                <h3>{{ user_ }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <h3>{{ num_posts }} posts</h3>
            </div>
            <div class="col text-center">
                <h3 id="followers">{{ user_.follower_count }} followers</h3>
            </div>
            <div class="col text-left">
                <h3>{{ user_.following_count }} following</h3>
            </div>
        </div>
        {% for post in posts %}
            <div class="row border rounded text-break mt-3">
                <div class="col mt-3 mb-1">
                    <h5 class="font-weight-bold">
                        <a href="{% url 'profile' post.posted_by %}" class="text-decoration-none text-reset">
                            {{ post.posted_by }}
                        </a>
                    </h5>
                    {% if user == post.posted_by %}
                        <button data-post="{{ post.id }}" class="btn btn-link p-0" type="button">Edit</button>
                    {% endif %}
                    <div id="{{ post.id }}">{{ post.body }}</div>
                    <div class="text-secondary">{{ post.timestamp }}</div>
                    <table>
                        <tr>
                            <td>
                                {% if post.id in user.posts_liked %}
                                    <button data-post="{{ post.id }}" class="btn p-0 mb-1" type="button">
                                        &#x2764;
                                    </button>
                                {% else %}
                                    <button data-post="{{ post.id }}" class="btn p-0 mb-1 heart" type="button">
                                        &#x2764;
                                    </button>
                                {% endif %}
                            </td>
                            <td class="text-secondary" id="like_count">{{ post.like_count }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center mt-3 pb-3">
                {% if posts.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="">Previous</a></li>
                {% endif %}
                {% if posts.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'network/pages.js' %}" defer data-authenticated="{{ user.is_authenticated }}" data-current-user="{{ user }}" data-page-user="{{ user_ }}" data-followers="{{ user_.follower_count }}" data-following="{{ following }}">
    </script>
    <script src="{% static 'network/edits.js' %}"></script>
{% endblock %}
