textarea {
    min-height: 400px;
}

.custom-hover-border {
    border: 1px solid #c7c5c5;
    height: 40px;
    transition: 0.2s ease; /* Smooth transition effect */
}

.custom-hover-border:hover {
    border-color: grey;
}
