{% extends "auctions/layout.html" %}

{% block body %}
    <form action="{% url 'listing_page' listing.id %}" method="post">
        {% csrf_token %}
        <div class="container vh-100">
            <div class="row mb-3">
                <div class="col-3 text-center">
                    <h2>{{ listing.title }}</h2>
                </div>
            </div>
            <div class="row h-50">
                <div class="col-3 text-center" id="listing_div">
                    {% if listing.image %}
                        <img src={{ listing.image.url }} alt={{ listing.title }}>
                    {% endif %}
                </div>
                <div class="col-3">
                    <h3>Bid from ${{ listing.price }}</h3>
                    <p class="text-secondary font-weight-light">Seller: {{ listing.seller }}</p>
                    <div class="row">
                        <div class="col-6">
                            <input autocomplete="off" type="number" class="form-control" min="{{ listing.price }}" value="{{ listing.price }}" step="0.01" name="bid">
                        </div>
                        <div class="col-5">
                            <input class="btn btn-primary" type="submit" value="Bid">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    {{ listing.description }}
                </div>
            </div>
        </div>
    </form>
{% endblock %}
